button {
  width: 70px;
  height: 60px;
  background-color: #7b7b7b;
  border: none;
  color: azure;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.darker {
  background-color: #5d5d5d;
}
button:hover {
  filter: brightness(1.2);
}
button:active,
.active {
  filter: brightness(0.5);
}
input {
  background: transparent;
  font-size: 30px;
  font-weight: bold;
  border: none;
  color: azure;
  text-align: right;
  padding: 10px 20px;
  width: -webkit-fill-available;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator-body {
  width: 721px;
  background-color: #4d4d4d;
  border-radius: 15px;
  box-shadow: 0 0 80px #4d4d4d;
}
.buttons {
  display: flex;
  border-radius: 0 0 19px 19px;
  overflow: hidden;
}
.basic-operations,
.advanced-operations {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  padding: 1px;
}
.basic-operations {
  width: 288px;
}

.advanced-operations {
  width: 432px;
}
.advanced-operations button{
    background-color: #5d5d5d;
}
.zero {
  width: 142px;
}
.theme-switch {
  padding: 5px;
}
.switch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.theme,
button {
  transition: all 0.4s;
}
.theme-red {
  background-color: red;
}
.theme-orange {
  background-color: orange;
}
.theme-green {
  background-color: green;
}
